@import "./utils/mixins.scss";
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }
  nav {
    @include breakpoint(xxs) {
      background: red !important;
    }
    @include breakpoint(xs) {
      background: orange !important;
    }
    @include breakpoint(s) {
      background: yellow !important;
    }
    @include breakpoint(m) {
      background: green !important;
    }
    @include breakpoint(l) {
      background: blue !important;
    }
    @include breakpoint(xl) {
      background: purple !important;
    }
    @include breakpoint(xxl) {
      background: white !important;
    }
  }

  body {
    margin: 0;
    .wrapper {
      margin: 1em;
    }
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.2em 0em 0.5em 1.25em;

      img {
        width: 9em;
        @include breakpoint(xxs, xs, s) {
          width: 5em;
        }
      }
      h1 {
        color: $lightBlue;
        margin: 0.25em auto;
        white-space: nowrap;
        @include breakpoint(xxs, xs, s) {
          font-size: 1.5em;
        }
      }
    }
  }
}

header {
  border-bottom: 2px solid $darkGrey;
  @include breakpoint(xxs, xs, s, m) {
    display: none;
  }

  a {
    color: $lightGrey;
    &:hover {
      color: $lightBlue;
      transition: ease-in 0.23s;
    }
  }
  div {
    display: flex;
    flex-direction: row;
    background: black;
    text-align: center;
    justify-content: space-between;

    .right {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: space-evenly;
      // align-items: center;
      .top-actions {
        border-bottom: 0.4em solid $lightBlue;
        flex-direction: row;
        padding-bottom: 1.4em;
        align-items: center;
        .email {
          display: flex;
          align-items: center;
          margin-left: 2em;
          font-size: 1.35em;
          img {
            margin-right: 0.5em;
            height: 1.5em;
            width: 1.5em;
          }
        }
        .buttons {
          flex-direction: row;
          justify-content: flex-end;
          margin-right: 0.8em;
          a {
            margin-right: 1.5em;
            font-size: 1.25em;
            &:first-child {
              margin-right: 3em;
            }
          }
        }
      }
      nav {
        ul {
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin: 0;
          li {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
#sticky-nav {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
  @include breakpoint(xxs, xs, s, m) {
    display: none !important;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0.75em 0;
    align-items: center;
    img {
      width: 2em;
      margin-right: 0;
    }
    li {
      font-size: 1.5em;
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }
      a {
        color: $lightGrey;
        &:hover {
          color: $lightBlue;
          transition: ease-in 0.23s;
        }
      }
    }
  }
}

#hamburger-menu {
  // padding-bottom: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  // position: absolute;
  position: -webkit-sticky;
  position: sticky;
  opacity: 97%;
  top: 0;
  width: 100%;
  background: black;
  @include breakpoint(l, xl, xxl) {
    display: none;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0.5em;
    .right {
      display: flex;
      align-items: center;
      img {
        height: 3.5em;
        width: 3.5em;
      }
      .actions {
        margin-right: 0.5em;
        a {
          color: $lightGrey;
          font-size: 1.35em;
          margin-right: 0.75em;
          &:hover {
            color: $lightBlue;
            transition: ease-in 0.23s;
          }
        }
      }
    }
  }

  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    // background: $lightGrey;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    // margin: 1em 1em 0 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    a {
      color: $lightGrey;
      font-size: 1.25em;
    }
    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      color: $lightGrey;
      -webkit-touch-callout: none;
    }
    span {
      display: block;
      width: 2em;
      height: 6px;
      margin: 7px 0;
      position: relative;
      background: $lightGrey;
      border-radius: 3px;
      z-index: 1;
    }
    &:hover {
      span {
        background: $lightBlue;
        transition: ease-in-out 0.25s;
      }
    }
  }
  #menu {
    position: absolute;
    display: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.5em 0;
    margin-left: -0.5em;
    margin-top: 3.5em;
    top: 0;
    left: 0;

    background: black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    // transition: 2s;

    li {
      padding: 0.75em 2em;
      transition: 0.3s ease;
      font-weight: 600;
      // color: blue;
      a {
        color: $darkGrey;
        &:hover {
          color: $lightBlue;
          text-shadow: 2px 2px $darkGrey;
          transition: ease-in 0.2s;
        }
      }
    }
  }
}

footer {
  background: black;
  padding-top: 2em;
  // margin-top: 6em;
  border-top: 2px solid $darkGrey;
  div {
    display: flex;
    flex-direction: column;
    .top {
      flex-direction: row;
      border-bottom: 2px solid $lightBlue;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(xxs, xs) {
        flex-direction: column;
      }

      .logo {
        padding-left: 2em;
        @include breakpoint(xxs, xs) {
          padding-left: 0;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        margin: 0 5em 1em 0;
        @include breakpoint(xxs, xs, s, m) {
          margin-right: 1em;
        }
        @include breakpoint(xxs, xs) {
          width: 60%;
        }

        p {
          color: white;
          // margin-right: 1em;
          @include breakpoint(xxs, xs, s) {
            font-size: 1em;
          }
          @include breakpoint(xxs, xs) {
            text-align: center;
          }

          a {
            color: $lightBlue;
            padding: 0 0.25em;
          }
        }
        .sm {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          // width: 10em;
          @include breakpoint(xxs, xs) {
            margin: 1em auto 0.75em;
          }

          a {
            margin-right: 1em;

            &:last-child {
              margin-right: 0;
            }
            img {
              width: 2em;
              @include breakpoint(xxs, xs, s) {
                width: 1.5em;
              }
            }
          }
        }
      }
    }
    .bottom {
      p {
        text-align: center;
        color: $lightGrey;
        font-size: 0.8em;
        &:first-child {
          margin-bottom: 0.125em;
          @include breakpoint(xxs, xs) {
            padding: 0 0.3em;
          }
        }
        &:last-child {
          margin: 1em 0 0.75em;
        }
      }
      img {
        width: 10em;
        margin: 0 auto;
      }
    }
  }
}
