html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
}

@media (max-width: 360px) {
  html nav {
    background: red !important;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html nav {
    background: orange !important;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html nav {
    background: yellow !important;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  html nav {
    background: green !important;
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  html nav {
    background: blue !important;
  }
}

@media (min-width: 1281) and (max-width: 1680px) {
  html nav {
    background: purple !important;
  }
}

@media (min-width: 1681px) {
  html nav {
    background: white !important;
  }
}

html body {
  margin: 0;
}

@media (min-width: 1281) and (max-width: 1680px) {
  html body {
    display: none !important;
  }
}

html body .wrapper {
  margin: 1em;
}

html body .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 0em 0.5em 1.25em;
}

html body .logo img {
  width: 9em;
  height: 8em;
}

html body .logo h1 {
  color: blue;
  margin: 0.25em auto;
  white-space: nowrap;
}

header {
  border-bottom: 2px solid #707070;
}

@media (max-width: 360px) {
  header {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  header {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  header {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  header {
    display: none;
  }
}

header a {
  color: #c3c1c1;
}

header a:hover {
  color: blue;
  -webkit-transition: ease-in 0.23s;
  transition: ease-in 0.23s;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: black;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header div .right .top-actions {
  border-bottom: 0.4em solid blue;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 1.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div .right .top-actions .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  font-size: 1.35em;
}

header div .right .top-actions .email img {
  margin-right: 0.5em;
  height: 1.5em;
  width: 1.5em;
}

header div .right .top-actions .buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.8em;
}

header div .right .top-actions .buttons a {
  margin-right: 1.5em;
  font-size: 1.25em;
}

header div .right .top-actions .buttons a:first-child {
  margin-right: 3em;
}

header div .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
}

header div .right nav ul li {
  font-size: 1.5em;
}

#sticky-nav {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
}

@media (max-width: 360px) {
  #sticky-nav {
    display: none !important;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #sticky-nav {
    display: none !important;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #sticky-nav {
    display: none !important;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  #sticky-nav {
    display: none !important;
  }
}

#sticky-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0.75em 0;
}

#sticky-nav ul li {
  font-size: 1.5em;
}

#sticky-nav ul li a {
  color: #c3c1c1;
}

#sticky-nav ul li a:hover {
  color: blue;
  -webkit-transition: ease-in 0.23s;
  transition: ease-in 0.23s;
}

#hamburger-menu {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: -webkit-sticky;
  position: sticky;
  opacity: 97%;
  top: 0;
  width: 100%;
  background: black;
}

@media (min-width: 981px) and (max-width: 1280px) {
  #hamburger-menu {
    display: none;
  }
}

@media (min-width: 1281) and (max-width: 1680px) {
  #hamburger-menu {
    display: none;
  }
}

@media (min-width: 1681px) {
  #hamburger-menu {
    display: none;
  }
}

#hamburger-menu .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

#hamburger-menu .menu-wrapper img {
  height: 3.5em;
  width: 3.5em;
}

#hamburger-menu #menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hamburger-menu #menuToggle a {
  color: #c3c1c1;
}

#hamburger-menu #menuToggle input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  color: #c3c1c1;
  -webkit-touch-callout: none;
}

#hamburger-menu #menuToggle span {
  display: block;
  width: 2em;
  height: 6px;
  margin: 7px 0;
  position: relative;
  background: #c3c1c1;
  border-radius: 3px;
  z-index: 1;
}

#hamburger-menu #menu {
  position: absolute;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 0;
  margin-left: -0.5em;
  margin-top: 3.5em;
  top: 0;
  left: 0;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#hamburger-menu #menu li {
  padding: 0.75em 2em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

#hamburger-menu #menu li a {
  color: #707070;
}

#hamburger-menu #menu li a:hover {
  color: #00bdf5;
  text-shadow: 1px 1px 1px #707070;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

footer {
  background: black;
  padding-top: 1em;
  margin-top: 4em;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div .top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div .top .logo {
  padding-left: 2em;
}

footer div .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin-right: 3em;
  margin: 0 5em 1em 0;
}

footer div .top .right p {
  color: white;
  margin-right: 1em;
}

footer div .top .right p a {
  color: blue;
}

footer div .top .right .sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer div .top .right .sm a {
  margin-right: 1em;
}

footer div .top .right .sm a:last-child {
  margin-right: 0;
}

footer div .top .right .sm a img {
  width: 2em;
}

footer div .bottom p {
  text-align: center;
  color: #c3c1c1;
  font-size: 0.8em;
}

footer div .bottom p:last-child {
  margin: 0.5em 0 0.75em;
}

footer div .bottom img {
  width: 10em;
  margin: 0 auto;
}
/*# sourceMappingURL=core.css.map */