html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
}

html body {
  margin: 0;
}

html body .wrapper {
  margin: 1em;
}

html body .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 0em 0.5em 1.25em;
}

html body .logo img {
  width: 9em;
  height: 8em;
}

html body .logo h1 {
  color: #00bdf5;
  margin: 0.25em auto;
  white-space: nowrap;
}

header {
  border-bottom: 2px solid #707070;
}

header a {
  color: #c3c1c1;
}

header a:hover {
  color: #00bdf5;
  -webkit-transition: ease-in 0.23s;
  transition: ease-in 0.23s;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: black;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header div .right .top-actions {
  border-bottom: 0.4em solid #00bdf5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 1.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div .right .top-actions .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  font-size: 1.35em;
}

header div .right .top-actions .email img {
  margin-right: 0.5em;
  height: 1.5em;
  width: 1.5em;
}

header div .right .top-actions .buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.8em;
}

header div .right .top-actions .buttons a {
  margin-right: 1.5em;
  font-size: 1.25em;
}

header div .right .top-actions .buttons a:first-child {
  margin-right: 3em;
}

header div .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
}

header div .right nav ul li {
  font-size: 1.5em;
}

#sticky-nav {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
}

#sticky-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0.75em 0;
}

#sticky-nav ul li {
  font-size: 1.5em;
}

#sticky-nav ul li a {
  color: #c3c1c1;
}

footer {
  background: black;
  padding-top: 1em;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div .top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div .top .logo {
  padding-left: 2em;
}

footer div .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin-right: 3em;
  margin: 0 3em 1em 0;
}

footer div .top .right p {
  color: white;
}

footer div .top .right p a {
  color: #00bdf5;
}

footer div .top .right .sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer div .top .right .sm a {
  margin-right: 1em;
}

footer div .top .right .sm a:last-child {
  margin-right: 0;
}

footer div .top .right .sm a img {
  width: 2em;
}

footer div .bottom p {
  text-align: center;
  color: #c3c1c1;
  font-size: 0.8em;
}

footer div .bottom p:last-child {
  margin: 0.5em 0 0.75em;
}

footer div .bottom img {
  width: 10em;
  margin: 0 auto;
}
/*# sourceMappingURL=core.css.map */