body {
  background: black;
  color: #c3c1c1;
}

.top {
  border-bottom: 1px solid #c3c1c1;
  margin-bottom: 4.5em;
  padding-left: 2em;
}

.top h1 {
  font-size: 3em;
  margin-bottom: 0;
  color: #c3c1c1;
}

.top .renew {
  margin-left: 8em;
  font-size: 0.85em;
  color: #c3c1c1;
}

#offer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6em;
  margin-top: 5em;
}

@media (max-width: 360px) {
  #offer-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #offer-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #offer-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#offer-cards .card {
  background: black;
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid #c3c1c1;
  height: 20em;
  width: 25%;
  position: relative;
  font-size: 1.1em;
  border-radius: 1em;
  cursor: pointer;
}

@media (max-width: 360px) {
  #offer-cards .card {
    width: 70%;
    margin-bottom: 5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #offer-cards .card {
    width: 70%;
    margin-bottom: 5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #offer-cards .card {
    width: 70%;
    margin-bottom: 5em;
  }
}

#offer-cards .card h2 {
  color: #eb6662;
  margin: 0.5em auto;
  border-radius: 1em;
  padding: 0.5em 0;
  text-shadow: 2px 3px 8px black;
  letter-spacing: 0.125em;
}

#offer-cards .card .discount {
  position: absolute;
  right: 0;
  top: 0;
  background: #00bdf5;
  color: black;
  border-radius: 0 1em;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.125em 1em;
  border-top: 1px solid #c3c1c1;
  border-right: 1px solid #c3c1c1;
}

#offer-cards .card .info {
  background: black;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  position: absolute;
  top: 6em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}

#offer-cards .card .info .download {
  font-size: 0.9em;
  margin-bottom: 0;
}

#offer-cards .card .info .credits {
  color: #00bdf5;
  font-size: 1.5em;
  white-space: nowrap;
  margin: 0.25em auto;
}

#offer-cards .card .info .price {
  margin: 0 auto;
  font-size: 1.15em;
  font-weight: 500;
  letter-spacing: 0.075em;
}

#offer-cards .card .info span {
  font-size: 0.9em;
}

#offer-cards .card .info .included {
  color: #00bdf5;
}

#offer-cards .card .info ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#offer-cards .card .info ul li {
  margin-bottom: 0.25em;
  font-weight: 300;
}

@media (max-width: 360px) {
  #offer-cards .card .info ul li {
    text-align: center;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #offer-cards .card .info ul li {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #offer-cards .card .info ul li {
    text-align: center;
  }
}

.payment {
  margin-bottom: 7em;
}

@media (max-width: 360px) {
  .payment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .payment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .payment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .payment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.payment h3 {
  color: #c3c1c1;
  text-align: center;
  margin-bottom: 5em;
}

.payment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  .payment div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .payment div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .payment div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.payment div .paypal-logo {
  height: 10em;
  width: 25em;
}
/*# sourceMappingURL=offers.css.map */