body {
  background: black;
}

#forgotPasswordForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1em 3em 1em;
  background: black;
  color: #c3c1c1;
  margin-bottom: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#forgotPasswordForm h1 {
  font-size: 3em;
  margin: 0.5em auto 1em;
}

@media (max-width: 360px) {
  #forgotPasswordForm {
    padding-bottom: 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #forgotPasswordForm {
    padding-bottom: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #forgotPasswordForm {
    padding-bottom: 2em;
  }
}

#forgotPasswordForm p {
  font-size: 1.2em;
  margin: 0em 0 1.8em;
}

#forgotPasswordForm .error {
  margin: 0 0 0.5em;
  color: #f12538;
}

#forgotPasswordForm .success {
  margin-top: 0;
  font-size: 1em;
  color: lawngreen;
}

#forgotPasswordForm label {
  color: #707070;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  #forgotPasswordForm label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #forgotPasswordForm label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #forgotPasswordForm label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#forgotPasswordForm label input {
  background: #0f495f;
  border: none;
  height: 1.75em;
  margin-left: 0.5em;
  color: #c3c1c1;
  font-size: 1.2em;
  width: 80%;
}

@media (max-width: 360px) {
  #forgotPasswordForm label input {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.25em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  #forgotPasswordForm label input {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.25em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  #forgotPasswordForm label input {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.25em;
  }
}

#forgotPasswordForm button {
  border: none;
  background: black;
  color: #00bdf5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  padding: 0;
  font-size: 1.5em;
  margin-top: 2em;
  font-weight: 700;
}

#forgotPasswordForm button img {
  margin-right: 0.5em;
}
/*# sourceMappingURL=forgotPassword.css.map */