@import "../utils/mixins.scss";

#sounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  .exclusive {
    color: $lightBlue;
    background: $lightBlue;
  }
  .download-btn {
    width: 2em;
    height: 2em;
  }
  .sound-wrapper {
    .sound {
      display: flex;
      align-items: center;
      p {
        margin: 0 0.5em;
      }
    }
  }
  table {
    text-align: center;
  }
}
