@import "../utils/mixins.scss";

#sounds {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .download-btn {
    width: 2em;
    height: 2em;
  }
  .home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .sound {
      display: flex;
      align-items: center;
      p {
        margin: 0 0.5em;
      }
    }
    .search-wrapper {
      display: flex;
    }
    .sound-wrapper {
      display: flex;
      h2 {
      }
      .filter {
        list-style: none;
        padding: 0;
        display: none;
        &:hover {
          cursor: pointer;
        }

        .selected {
          color: $lightBlue;
        }
        .reset-tags {
          color: red;
        }
      }
    }
  }
  .table-wrapper {
    text-align: center;
    table {
      text-align: center;
      thead {
      }
      tbody {
        .exclusive {
          color: goldenrod;
        }
        .play-btn {
          // height: 1em;
          padding: 0.25em;
          border: 0.5em solid transparent;
        }
        .stream-spinner {
          border: 0.5em dotted $lightGrey; /* Light grey */
          border-top: 0.5em dotted $lightBlue; /* Blue */
          border-radius: 50%;
          // width: 2;
          // height: 2;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        .name {
        }
        .tag {
          padding: 0.125em 0.25em;
          margin-right: 0.25em;
          border: 1px solid black;
          border-radius: 15%;
        }
      }
    }
  }
}
