@import "../utils/mixins.scss";

#sounds {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .exclusive {
    color: $lightBlue;
    background: $lightBlue;
  }
  .download-btn {
    width: 2em;
    height: 2em;
  }
  .home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .sound {
      display: flex;
      align-items: center;
      p {
        margin: 0 0.5em;
      }
    }
    .search-wrapper {
      display: flex;
    }
    .sound-wrapper {
      display: flex;
    }
  }
  table {
    text-align: center;
  }
}
